@CHARSET "ISO-8859-1";

BODY { font: icon; font-size: 10pt; color:black; font-weight: normal;  background-color:ligth-blue;}
TABLE { font: icon; font-size: 10pt; color:black; font-weight: normal;}
INPUT { font: icon; font-size: 10pt; color:black; font-weight: normal; }
A { text-decoration: none; }
A:visited { color:blue; }
UL { margin-left: 5px; padding-left: 0px; list-style-position: inside; }
.heading { color:white; padding: 1px; background-color: black/*#E0E0E0;*/ }
.tableform { width: 80%; }
.headingcol { width: 5%; }
.spacercol { width: 2%; }
.nullcol { padding: 0%; }
.wide { width: 95%; }